button.btn.btn-sm.btn-primary {
  padding: 2px;
  margin-left: 6px;
  margin: 4px 5px 5px 3px;
  font-family: aptos !important;
}
h4.card-title {
  font-size: 20px;
  margin: 4px 5px 5px 3px;
  font-family: aptos !important;
}

p.card-text {
  margin: 4px 5px 5px 3px;
  font-family: aptos !important;
}
