
<div class="card flex align-items-center">
  <h1 class="title">{{ 'shelf.title' | translate }}</h1>

  <div class="right-section">
    <p-dropdown 
      [options]="languages" 
      [(ngModel)]="selectedLanguage" 
      optionLabel="language"
      placeholder="Select Language"
      (onChange)="toggle($event)">
    </p-dropdown>
    <span class="time-display">{{ currentTime }}</span>
  </div>
</div>


<router-outlet />
<br>
<div class="cardFooter flex align-items-center">

  <h4 class="titleFooter">{{ 'shelf.magna' | translate }}</h4>

</div>
 