<div class="login-container">
  <!-- <div class="login-container_img"></div> -->
  <div class="login-form-container">
    <div class="login-form">
      <!-- <div class="login-head"></div> -->
      <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
        <div class="form-group">
          <label for="userName">Username</label>
          <input type="text" id="userName" formControlName="userName" class="form-control"
            placeholder="Enter your username" />
          <div *ngIf="
              loginForm.get('userName')?.invalid &&
              loginForm.get('userName')?.touched
            " class="invalid-feedback">
            *
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" formControlName="password" class="form-control" placeholder="Enter your password"
            [type]="showPassword ? 'text' : 'password' " />

          <a (click)="showPassword = !showPassword" class="show-password"
            [title]="showPassword ? 'Hide Password' : 'Show Password'">
            <img [src]="showPassword ? './assets/images/icons/eye-close-icon.svg' : './assets/images/icons/eye-icon.svg'"
              class="login-form-icon">
          </a>

          <div *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            " class="invalid-feedback">
            *
          </div>
        </div>
        <div class="form-button-group">
          <button type="submit" class="btn-login">Login</button>
        </div>
        <div class="form-button-group">
          <button type="button" (click)="onSSOClick()"  class="btn-login">Start with SSO</button>
        </div>
      </form>
      <p class="signup-link" style="margin-right: 0px; font-size: 12px">
        Powered by<br /> <br />
        <a routerLink="/signup">Magnetivity Solutions</a>
      </p>
    </div>
  </div>
</div>