<footer class="footer">
    <div class="row">
        <div class="col-md-8">
            <div class="copy-right-section">
                <span class="copy-right-text">&copy; Copyright 2024 <a href="#" class="ttl-text">Tata Technologies
                        Ltd</a>. All rights
                    reserved. Powered by Tata Technologies.
                </span>
            </div>
        </div>

        <div class="col-md-4">
            <div > 
                <!-- [ngClass]="!isCollapse ? 'social-section-collapsed' : ''" -->
                <span class="copy-right-text" style="margin-right: 12px;">Follow us</span>
                <a href="#"><img src="./assets/images/icons/facebook.svg" class="facebook-icon"></a>
                <a href="#"><img src="./assets/images/icons/twitter.svg" class="twitter-icon"></a>
                <a href="#"><img src="./assets/images/icons/linkedIn.svg" class="linkedIn-icon"></a>
            </div>
        </div>
    </div>
</footer>