<!-- Sidebar Layout -->
<mat-list class="text-white sidebar">
  <!-- <div class="mt-2" (click)="closeNav($event)">
    <a class="link" [routerLink]="['/home/plants']" routerLinkActive="active">
      <span
        ><img
          src="./assets/images/icons/dashboard.svg"
          alt=""
          class="sidebar-icon"
        /><span class="link-text">Plants</span></span
      >
    </a>
  </div> -->

  <!-- <div class="mt-2">
    <a class="link" [routerLink]="['/home/dashboard']" routerLinkActive="active">
      <span><img src="./assets/images/icons/dashboard.svg" alt="" class="sidebar-icon" /><span
          class="link-text">Dashboard</span></span>

    </a>
  </div>  -->
  <!-- <div class="mt-2" style="display: none">
    <a class="link" [routerLink]="['/home/master-dashboard']" routerLinkActive="active">
      <span><img src="./assets/images/icons/dashboard.svg" alt="" class="sidebar-icon" /><span class="link-text">Master
          Screens</span></span>

    </a>
  </div> -->
  <!-- <div class="mt-2" style="display: none">
    <a class="link" [routerLink]="['/home/upload']" routerLinkActive="active">
      <span><img src="./assets/images/icons/dashboard.svg" alt="" class="sidebar-icon" /><span
          class="link-text">Upload</span></span>

    </a>
  </div> -->

  <!-- <div class="mt-2">
    <a class="link" [routerLink]="['/home/allreports']" routerLinkActive="active">
      <span><img src="./assets/images/icons/dashboard.svg" alt="" class="sidebar-icon" /><span class="link-text">All
          Reports</span></span>

    </a>
  </div> -->
  <!-- <div class="mt-2">
    <a class="link" [routerLink]="['/home/plants']" routerLinkActive="active">
      <span><img src="./assets/images/icons/dashboard.svg" alt="" class="sidebar-icon" /><span
          class="link-text">Plants</span></span>

    </a>
  </div> -->
  <!-- <div class="mt-2" (click)="closeNav($event)" style="display: none">
    <a class="link" [routerLink]="['/home/Rybnik']" routerLinkActive="active">
      <span
        ><img
          src="./assets/images/icons/dashboard.svg"
          alt=""
          class="sidebar-icon"
        /><span class="link-text">Rybnik</span></span
      >
    </a>
  </div>
  <div class="mt-2" style="display: none">
    <a
      class="link"
      [routerLink]="['/home/plants/focusfactory']"
      routerLinkActive="active"
    >
      <span
        ><img
          src="./assets/images/icons/dashboard.svg"
          alt=""
          class="sidebar-icon"
        /><span class="link-text">Focus Factory</span></span
      >
    </a>
  </div>
  <div class="mt-2" style="display: none">
    <a
      class="link"
      [routerLink]="['/home/plants/focusfactory/zonedetails']"
      routerLinkActive="active"
    >
      <span
        ><img
          src="./assets/images/icons/dashboard.svg"
          alt=""
          class="sidebar-icon"
        /><span class="link-text">Zone</span></span
      >
    </a>
  </div>

  <div class="mt-2" style="display: none">
    <a
      class="link"
      [routerLink]="['/home/plants/focusfactory']"
      routerLinkActive="active"
    >
      <span
        ><img
          src="./assets/images/icons/dashboard.svg"
          alt=""
          class="sidebar-icon"
        /><span class="link-text">Line Deatils</span></span
      >
    </a>
  </div> -->

  <!-- Routing Configuration -->
  <!-- <div class="margin-bottom">
        <a class="link" [routerLink]="['/route-config/route-config-list']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <span><img src="./assets/images/icons/routing-conf.svg" alt="" class="sidebar-icon">
                <span class="link-text">Routing Configuration</span>
            </span>
            <span><img src="./assets/images/icons/chevron-right.svg" alt=""></span>
        </a>
    </div> -->

  <!-- Supervisor Console -->
  <!-- <div class="margin-bottom">
        <a class="link" [routerLink]="['/supervisor-console/supervisor-console-list/']"
            [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
            <span><img src="./assets/images/icons/super-cons.svg" alt="" class="sidebar-icon">
                <span class="link-text">Supervisor Console</span>
            </span>
            <span><img src="./assets/images/icons/chevron-right.svg" alt=""></span>
        </a>
    </div> -->

  <!-- Operator Console -->
  <!-- <div class="margin-bottom">
        <a class="link" [routerLink]="['/operator-console/operator-console-list']"
            [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
            <span><img src="./assets/images/icons/operator-cons.svg" alt="" class="sidebar-icon">
                <span class="link-text">Operator Console</span>
            </span>
            <span><img src="./assets/images/icons/chevron-right.svg" alt=""></span>
        </a>
    </div> -->

  <!-- Operator Console -->
  <!-- <div class="margin-bottom">
        <a class="link" [routerLink]="['/order-management/recieved-work-order']"
            [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
            <span><img src="./assets/images/icons/order-mngt.svg" alt="" class="sidebar-icon">
                <span class="link-text">Order Management</span>
            </span>
            <span><img src="./assets/images/icons/chevron-right.svg" alt=""></span>
        </a>
    </div> -->

  <!-- Quality -->
  <!-- <div style="margin-bottom: 80px;">
        <a class="link" [routerLink]="['/quality/quality-list']" [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="active">
            <span><img src="./assets/images/icons/quality.svg" alt="" class="sidebar-icon">
                <span class="link-text">Quality</span>
            </span>
            <span><img src="./assets/images/icons/chevron-right.svg" alt=""></span>
        </a>
    </div> -->

  <!-- <div class="mt-2">
    <a
      class="link"
      [routerLink]="['/home/hourly-details']"
      routerLinkActive="active"
    >
      <span
        ><img
          src="./assets/images/icons/clock.svg"
          alt=""
          class="sidebar-icon"
        />

        <span class="link-text">Hourly Details</span>
      </span>

    </a>
  </div>

 <div class="mt-2">
    <a
      class="link"
      [routerLink]="['/home/oee-dashboard']"
      routerLinkActive="active"
    >
      <span
        ><img
          src="./assets/images/icons/OAEDashboard.png"
          alt=""
          class="sidebar-icon"
        />
        <span class="link-text">Manual OAE Dashboard</span>
      </span>
    </a>
  </div>

  <div class="mt-2">
    <a
      class="link"
      [routerLink]="['/home/meantimereport']"
      routerLinkActive="active"
    >
      <span
        ><img
          src="./assets/images/icons/close-eye.svg"
          alt=""
          class="sidebar-icon"
        />
        <span class="link-text">Mean Time Report</span>
      </span>

    </a>
  </div>

  <<div class="mt-2">
    <a
      class="link"
      [routerLink]="['/home/schedulereport']"
      routerLinkActive="active"
    >
      <span
        ><img
          src="./assets/images/icons/quality.svg"
          alt=""
          class="sidebar-icon"
        />
        <span class="link-text">Schedule Report</span>
      </span>

    </a>
  </div>


 <div class="margin-bottom">
    <ul class="menu">
      <li>
        <a
          class="link"
          [ngClass]="masterDataBgChange == true ? 'bg-color' : ''"
          routerLinkActive="active"
          [routerLink]="['/quality-management/scrapreport']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span
            ><img
              src="./assets/images/icons/home.svg"
              alt=""
              class="sidebar-icon"
            />
            <span class="link-text">Quality Management</span>
          </span>
          <span
            ><img src="./assets/images/icons/chevron-right.svg" alt=""
          /></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a
              class="link"
              [routerLink]="['/quality-management/scrapreport']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Scrap Report</a
            >
          </li>
          <li>
            <a
              class="link"
              [routerLink]="['/quality-management/processandproductparameter']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Process and Product Parameter</a
            >
          </li>
          <li>
            <a
              class="link"
              [routerLink]="['/quality-management/defectreport']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Defect Report</a
            >
          </li>
          <li>
            <a
              class="link"
              [routerLink]="['/quality-management/dailyproductionreport']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Daily Production Report</a
            >
          </li>
          <li>
            <a
              class="link"
              [routerLink]="['/quality-management/firsttimeyeild']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >First Time Yeild</a
            >
          </li>
          <li>
            <a
              class="link"
              [routerLink]="['/quality-management/cycletimereport']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Cycle Time Report</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>



<div class="margin-bottom">
    <ul class="menu">
      <li>
        <a
          class="link"
          [ngClass]="masterDataBgChange == true ? 'bg-color' : ''"
          routerLinkActive="active"
          [routerLink]="['/operator-training/operatortraining']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span
            ><img
              src="./assets/images/icons/home.svg"
              alt=""
              class="sidebar-icon"
            />
            <span class="link-text">Operator Training</span>
          </span>
          <span
            ><img src="./assets/images/icons/chevron-right.svg" alt=""
          /></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a
              class="link"
              [routerLink]="['/operator-training/operatortraining']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Operator Training</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div> -->
  <!-- end -->
  <!-- <div class="margin-bottom">
    <ul class="menu">
      <li>
        <a
          class="link"
          [ngClass]="masterDataBgChange == true ? 'bg-color' : ''"
          routerLinkActive="active"
          [routerLink]="['/quality/quality-list']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span
            ><img
              src="./assets/images/icons/home.svg"
              alt=""
              class="sidebar-icon"
            />
            <span class="link-text">Quality</span>
          </span>
          <span
            ><img src="./assets/images/icons/chevron-right.svg" alt=""
          /></span>
        </a>
        <ul class="sub-menu">

          <li>
            <a
              class="link"
              [routerLink]="['/quality/quality-list']"
              routerLinkActive="active"
            >
              <span
                ><img
                  src="./assets/images/icons/quality.svg"
                  alt=""
                  class="sidebar-icon"
                />
                <span class="link-text">Quality</span>
              </span>
            </a>
          </li>
          <li>
            <a
              class="link"
              [routerLink]="['/quality/skillmatrix']"
              routerLinkActive="active"
            >
              <span
                ><img
                  src="./assets/images/icons/quality.svg"
                  alt=""
                  class="sidebar-icon"
                />
                <span class="link-text">Skill Matrix</span>
              </span>
            </a>
          </li>
          <li>
            <a
              class="link"
              [routerLink]="['/quality/downtime']"
              routerLinkActive="active"
            >
              <span
                ><img
                  src="./assets/images/icons/quality.svg"
                  alt=""
                  class="sidebar-icon"
                />
                <span class="link-text">DownTime Machine Report</span>
              </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div> -->

  <!-- <div class="mt-2">
    <a
      class="link"
      [routerLink]="['/asset-management/oaedashboard']"
      routerLinkActive="active"
    >
      <span
        ><img
          src="./assets/images/icons/quality.svg"
          alt=""
          class="sidebar-icon"
        />
        <span class="link-text">OAE Dashboard</span>
      </span>

    </a>
  </div> -->

  <div class="margin-bottom">
    <ul class="menu">
      <!-- Admin Module -->
      <li class="link" [ngClass]="masterDataBgChange ? 'bg-color' : ''" routerLinkActive="active"
        [routerLink]="['/home/dashboard']" [routerLinkActiveOptions]="{ exact: true }" (click)="closeNav($event)">
        <span>
          <img src="./assets/images/icons/dashboard.svg" alt="" class="sidebar-icon" />
          <span class="link-text">Dashboard</span>
        </span>
      </li>
      <li>
        <a class="link" [ngClass]="masterDataBgChange ? 'bg-color' : ''" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu('adminUtilities')">
          <span><img src="./assets/images/img/admin_icon.svg" alt="" class="sidebar-icon" />
            <span class="link-text">Admin Utilities</span>
          </span>
          <span>
            <img src="./assets/images/icons/chevron-right.svg" alt="" />
          </span>
        </a>

        <ul *ngIf="isMenuOpen('adminUtilities')">
          <li class="link" [ngClass]="masterDataBgChange ? 'bg-color' : ''" routerLinkActive="active"
            [routerLink]="['/home/role-management']" [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeNav($event)">
            <span>
              <img src="./assets/images/img/role_icon.svg" alt="" class="sidebar-icon" />
              <span class="link-text">Role Management</span>
            </span>
          </li>

          <li class="link" [ngClass]="masterDataBgChange ? 'bg-color' : ''" routerLinkActive="active"
            [routerLink]="['/home/role-authorization']" [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeNav($event)">
            <span>
              <img src="./assets/images/icons/dashboard.svg" alt="" class="sidebar-icon" />
              <span class="link-text">Authorization of Role</span>
            </span>
          </li>

          <li class="link" [ngClass]="masterDataBgChange ? 'bg-color' : ''" routerLinkActive="active"
            [routerLink]="['/home/user-management']" [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeNav($event)">
            <span>
              <img src="./assets/images/icons/dashboard.svg" alt="" class="sidebar-icon" />
              <span class="link-text">User Management</span>
            </span>
          </li>
        </ul>
      </li>

      <li>
        <a class="link" routerLinkActive="active">
          <span><img src="./assets/images/img/master.svg" alt="" class="sidebar-icon" />
            <span class="link-text">Master</span>
          </span>
        </a>
      </li>

      <li>
        <a class="link" routerLinkActive="active">
          <span><img src="./assets/images/img/barcode.svg" alt="" class="sidebar-icon" />
            <span class="link-text">Barcode Generation</span>
          </span>
        </a>
      </li>

      <li>
        <a class="link" routerLinkActive="active">
          <span><img src="./assets/images/img/report.svg" alt="" class="sidebar-icon" />
            <span class="link-text">Reports</span>
          </span>
        </a>
      </li>

    </ul>
  </div>
  <!-- <li class="link" [ngClass]="masterDataBgChange ? 'bg-color' : ''" routerLinkActive="active"
  [routerLink]="['/traceability/seatbirthcertificate']" [routerLinkActiveOptions]="{ exact: true }"
  (click)="closeNav($event)">
  <span>
    <img src="./assets/images/icons/dashboard.svg" alt="" class="sidebar-icon" />
    <span class="link-text">Seat Birth Certificate</span>
  </span>
</li> -->
  <!-- menu section - Energy -->
  <!-- <div class="margin-bottom">
    <ul class="menu">
      <li>
        <a
          class="link"
          [ngClass]="masterDataBgChange == true ? 'bg-color' : ''"
          routerLinkActive="active"
          [routerLink]="['/energy/energy-dashboard']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span
            ><img
              src="./assets/images/icons/home.svg"
              alt=""
              class="sidebar-icon"
            />
            <span class="link-text">Energy</span>
          </span>
          <span
            ><img src="./assets/images/icons/chevron-right.svg" alt=""
          /></span>
        </a>
        <ul class="sub-menu">

          <li>
            <a
              class="link"
              [routerLink]="['/energy/energy-dashboard']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Energy Dashboard</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div> -->

  <!-- <div class="logout-container">
    <a class="link" (click)="logOut()" routerLinkActive="router-link-active">
      <img src="./assets/images/icons/logout.svg" alt="" class="sidebar-icon" />
      Logout
    </a>
  </div> -->
</mat-list>