<!-- <form [group] >
    <div class="p-field p-col-12 p-md-4">
        <label for="range">Range</label>
        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" 
        [readonlyInput]="true" inputId="range"></p-calendar>
    </div>
</form> -->
<!-- <form [formGroup]="rangeForm">
  <div class="p-field p-col-6 p-md-2">
    <label for="range">Range</label>
    <p-calendar
      formControlName="rangeDates"
      selectionMode="range"
      [readonlyInput]="true"
      inputId="range"
    ></p-calendar>
  </div>
</form> -->
