:host{
    .ng-trigger.ng-trigger-overlayAnimation.ng-tns-c203-2.p-datepicker.p-component.ng-star-inserted {
        left: -10vw !important;
        right: 0 !important;
    }
}

::ng-deep {
    .p-calendar .p-datepicker {
        min-width: 300px;
        left: -10vw !important;
        right: 0 !important;
      }
      
      .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
        color: #565656;
        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        font-weight: 600;
        padding: 0px !important;
        font-size: 12px;
        margin-right: 3rem !important;
      }
      
      .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
        margin-right: 3rem !important;
      }
      
      //color: #495057 !important;
      
      
      .p-datepicker table {
        font-size: 1rem;
        margin: 0.1rem 0;
        width: 100% !important;
        // display: flex;
      }
    .p-datepicker .p-datepicker-calendar {
      width: 300px;
    }
  
    .p-datepicker .p-datepicker-calendar .p-datepicker-day {
      color: #ff0000;
      font-size: 14px;
    }
  }
  